.bouquet_main {
    /* padding: 50px auto; */
}


/* --------------------bouquet_aside-------------------- */

.aside_list {
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.list_title {
    color: #85603F;
    margin: 40px auto 20px auto;
    font-size: 20px;
}

.list_ {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 40px;
    padding-left: 0;
    border-left: solid #B07D31 2px;
}

.list_link {
    padding: 10px 2px;
    color: #B07D31;
    text-align: center;
}

.list_link_now {
    padding: 10px 2px;
    background-color: rgba(176, 125, 49, 60%);
    color: #FEFEFE;
    text-align: center;
}

.list_link:hover {
    color: #85603F;
}

.bouquet_line {
    width: 2px;
    height: 100%;
    background-color: #B07D31;
    border-radius: 10px;
    margin: auto;
}