/* .about_us_info_bg {
    width: 100%;
    margin: 20px;
    position: relative;
    z-index: 1;
    background-image: url("../image/about_us_info_bg.png");
    background-size: 540px 350px;
} */

.about_us_info {
    /* position: absolute;
    z-index: 2; */
    margin: 20px;
    padding: 40px 60px;
}

.about_us_img {
    width: 100%;
    height: auto;
    margin: 20px;
    text-align: center;
}